* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* HEADER */

header {
  width: 100vw;
  height: 100vh;
  background-color: #fff2ee;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover 200px;
  background-position: bottom;
  bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  width: 100%;
  height: 60px;
}

section.nav_one {
  width: 100%;
  background-color: #eaf0f6;
  position: fixed;
  z-index: 1;
}

section.nav_two {
  width: 100%;
  background-color: #fff;
  border-top: grey solid 1px;
  margin-top: 58px;
}

.nav_one_container {
  width: 80%;
  height: 60px;
  margin: auto;
  position: relative;
}

ul {
  display: inline-block;
}

li {
  display: inline-block;
  font-size: small;
}

.ul_left {
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 0;
}

.separator {
  width: 1px;
  height: 20px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  top: 5px;
}

/* <!-- FIRST NAV SECTION RIGHT--> */

.ul_right {
  position: absolute;
  top: 17px;
  right: 0;
  bottom: 0;
}

.button {
  color: #fff;
  border: #ff7a59 solid 1px;
  border-radius: 5px;
  background-color: #ff7a59;
  font-size: small;
  padding: 6px 8px;
}

.button.white {
  color: red;
  background-color: #fff;
  margin-left: 10px;
  margin-right: 10px;
}

i.fas.fa-search {
  color: #60baaf;
}

/* SECOND NAV SECTION LEFT  */

.logo_nav {
  width: 100px;
  margin-top: 15px;
}

.ul_right.second_nav > li {
  margin-left: 10px;
}

/* <!-- JAMBO CONTAINER --> */

.jambo_layout_container {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 60px;
}

.jambo_text_container {
  width: 50%;
  height: 60%;
}

h1 {
  padding-top: 90px;
  font-size: 40px;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 1.8;
  font-size: small;
}

.p_add {
  font-size: x-small;
}

.button.big {
  padding: 10px 20px;
  font-size: x-small;
}

/* MAIN FIRST (1) SECTION */

main > .background_container {
  width: 100vw;
  height: 100vh;
  background-color: #eaf0f6;
}

.big_container {
  width: 80%;
  height: 100%;
  margin: auto;
}

.main_cube_container {
  width: 100%;
  height: 50%;
  padding-top: 40px;
  overflow: hidden;
}

.cube_container {
  width: 150px;
  margin: auto;
  text-align: center;
}

h3 {
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}

#cube {
  width: 250px;
  margin-top: 25px;
}

.p_container {
  width: 80%;
  height: 40px;
  margin: auto;
  text-align: center;
}


/* MAIN FIRST (2) SECTION */

.row:after {
  content: "";
  display: table;
  clear: both;
}

[class^=col-] {
 float: left;
 padding: 0 15px;
}

.image {
  width: 160px;
  height: 130px;
}

#book {
  position: absolute;
  right: 15%;
  top: 25%;
}

.button.big.book {
  position: absolute;
  right: 30%;
  bottom: 30%;
}

.row.free_hub_container {
  width: 100%;
  height: 45%;
  border: rgba(173, 187, 230, 0.4) solid 2px;
  border-radius: 5px;
  background-color: #fff;
}

.col-.free_hub20 {
  width: 30%;
  height: 100%;
  position: relative;
}

.col-.free_hub80 {
  width: 70%;
  height: 100%;
}

.text_container_free_hub {
  position: relative;
  top: 20%;
}

.container_popolar_feature {
  width: 100%;
  text-align: left;
}

h4.section_titles{
  font-size: 20px;
  margin-top: 30px;
}

h4.popolar_feature {
  display: inline-block;
}

hr.popolar_feature {
  border: black solid 1px;
  width: 350px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 80px;
  overflow: hidden;
}

ul.orizontal_list {
  margin-top: 40px;
}

ul.orizontal_list > li {
  margin-left: 10px;
}

ul.orizontal_list i.fa-check-circle:nth-child(n+2) {
  margin-left: 30px;
}

i.fas.fa-check-circle {
  color: #ff7a59;
}

/* <!-- MAIN SECOND (1) SECTION  --> */

section.section_main {
  width: 100vw;
  height: 90vh;
  background-color: #eaf0f6;
}

/* FIRST COLUMN MARKETING */

.col-.second {
  width: calc(75vw / 3);
  height: 740px;
  background-color: #fff;
  border: rgba(173, 187, 230, 0.4) solid 2px;
  border-radius: 4px;
}

.col-.second.sales {
  margin: 0 30px;
}

.mark_up_section {
  width: 90%;
  height: 60%;
  border-bottom: black solid 1px;
  margin: auto;
  text-align: center;
  padding-top: 40px;
}

.popolar_container {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.mark_down_section {
  width: 90%;
  height: 40%;
  margin: auto;
}

h4.popolar_feature.hub_title {
  text-align: center;
  margin: 30px 0;
}

ul.vertical_list > li {
  display: block;
  text-align: left;
}

.button_container {
  width: 100%;
  text-align: center;
  padding-top: 50px;
}

/* MAIN THIRD SECTION */

section.section_learn_grow {
  width: 100vw;
  height: 90vh;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

.col-.first_learn_grow {
  width: 100%;
  height: 250px;
  text-align: center;
  margin-top: 30px;
}

.section_learn_grow * {
  color: #fff;
}

/* TABLE */

.row.table {
  width: 100%;
}

.col-.table {
  width: calc(100% / 4);
  height: 220px;
  text-align: center;
}

.col-.table.border {
  border-bottom: #fff solid 1px;
}

.col-.table.middle {
  border-left: #fff solid 1px;
}

.plus {
  font-size: 50px;
  font-weight: bolder;
  margin: 25px 0;
  position: relative;
  left: 10px;
}

.logo_table {
  margin-top: 20px;
}

i.fas.fa-plus {
  font-size: 15px;
  vertical-align: middle;
  position: relative;
  left: -10px;
}

.note {
  font-size: 11px;
}

/* <!-- MAIN FOURTH SECTION  --> */

section.smiling_lady_img {
  width: 100vw;
  height: 80vh;
  background-color: #fff;
}

.row.first {
  width: 100%;
}

.col-.amount {
  width: 40%;
  height: 250px;
}

.amount_container {
  height: 250px;
  margin-left: 60px;
}

#number {
  font-size: 40px;
  font-weight: bold;
  padding-top: 40px;
}

.col-.brand {
  width: 50%;
  height: 250px;
  margin-left: 60px;
}

.brand_container {
  width: calc(100% / 4);
  height: 50%;
  float: left;
}

img.brand {
  width: 100px;
  margin-top: 55px;
}

/* LADY SECTION */

.row.second {
  width: 100%;
}

.col-.start_growing {
  width: 40%;
}

.col-.lady {
  width: 60%;
  position: relative;
}

img#lady {
  width: 300px;
  position: absolute;
  top: 50px;
  right: 0px;
}

div.growing_title > h3 {
  margin-top: 60px;
  text-align:left;
}

div.col-.start_growing > .note {
  margin-top: 40px;
}

/* FOOTER */

footer {
  width: 100vw;
  height: 80vh;
  background-color: #2d3e50;
  color:#F0F8FF;
  font-size: 15px;
}

.col-.foot {
  width: calc(100% / 4);
  height: 450px;
}

ul.last_list > li {
  display: block;
  font-size: small;
  padding: 10px 0;
}

ul.last_list > :first-child {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  padding: 20px 0;
  margin-top: 30px;
}

button.button.last {
  color: #2d3e50;
  border: #fff solid 1px;
  background-color: #DCDCDC;
}

ul.social_list li > i {
  margin-top: 10px;
  margin-right: 25px;
}

/* FOOTER SECOND ROW */

.row.footer_second {
  width: 100%;
}

div.col-.languages_list {
  width: 100%;
  border-bottom: #F0F8FF solid 1px;
}

.container_languagesList {
  width: 100%;
  height: 30%;
  text-align: center;
  margin-top: 45px;
}

ul.languages_list > li {
  margin-right: 25px;
  margin-bottom: 25px;
  font-size: 15px;
}

/* LAST CONTAINER */

.col-.foot_last_container {
  width: 50%;
}

.logo_container {
  margin-top: 70px;
}

.col-.foot_last_container_two {
  width: 50%;
  height: 200px;
  position: relative;
}

.policy_container > span {
  padding-left: 15px;
}

.col-.foot_last_container_two > .policy_container {
  position: absolute;
  right: 0;
  bottom: 100px;
}
